<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>937417541985-621ns30i4oq5hl1rahco46amvco23urv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.937417541985-621ns30i4oq5hl1rahco46amvco23urv</string>
	<key>API_KEY</key>
	<string>AIzaSyCpPa9CBFF-QnyBClvKjyzn7xo8Wj-KAV0</string>
	<key>GCM_SENDER_ID</key>
	<string>937417541985</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fluttertutorial</string>
	<key>PROJECT_ID</key>
	<string>flutter-tutorial-dreamers</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-tutorial-dreamers.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:937417541985:ios:268d22200d6925adfc1d20</string>
</dict>
</plist>